{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block login_active %}active{% endblock %}
{% csrf_token %}

{% block body %}
	<script>
		var myClockInterval = setInterval(myClock, 1000);
		
		function myClock() {
		    var d = new Date();
			var x = document.getElementsByClassName("ElapsedTime")
			var total = document.getElementById("TotalTimeWaiting")
			var avg = document.getElementById("AverageTimeWaiting")
			var count = 0;
            for (i=0; i<x.length; i++) {
				time_id = x[i].id;
				var y = document.getElementById('select_'+time_id)
				if (y.value == 'Checked_In') {
					if (x[i].innerHTML == "") {
						x[i].innerHTML = 0;
					}
					x[i].innerHTML = parseInt(x[i].innerHTML, 10) + 1;
					total.innerHTML = parseInt(total.innerHTML, 10) + 1;
					count = count + 1;
				}
				else if (y.value == 'In_Session') {
					count = count + 1;
				}
				else if (y.value != 'In_Session') {
					x[i].innerHTML = "";
				}
            }
			avg.innerHTML = parseInt(total.innerHTML, 10) / count;
			//console.log(count);
			//console.log(total.innerHTML);
			document.getElementById("main_clock").innerHTML = d.toLocaleTimeString();
		}

		function selectFunction(element) {
            if (element.value == 'Confirmed') {
				var res = element.id.substring(7);
				var t = document.getElementById('time_' + res);
				t.innerHTML = 'red';
				clearInterval(myClockInterval);
                element.style.backgroundColor = 'red';
            }
        }
	</script>
		
<script>
	var sec = 0;
    function pad ( val ) { return val > 9 ? val : "0" + val; }
    setInterval( function(){
        document.getElementById("seconds").innerHTML=pad(++sec%60);
        document.getElementById("minutes").innerHTML=pad(parseInt(sec/60,10));
	}, 1000);
</script>



<div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
<p id="demo"></p>


<div class="container">
    <h2 style="text-align:center">Dashboard</h2>
	<hr
	style="
	   border:none;
	   height:10px;
	   background-color:green;
	">
	<h2><div align="center" id="main_clock" ></div></h2>
	<span id="minutes"></span>:<span id="seconds"></span>

	<div class="dropdown">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">Change Status</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<button onclick="status_update('In Session', {{a.id}});" class="dropdown-item">In Session</button>
			<button onclick="status_update('Complete', {{a.id}});" class="dropdown-item">Complete</button>
			<button onclick="status_update('Cancelled', {{a.id}});" class="dropdown-item">Cancelled</button>
		  </div>
			</div>
<br>
	<div class="card">
		<div class="card-header"><h2>Today's Appointments</h2></div>
			<table class="table" id="appointments">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Patient</th>
						<th scope="col">Appointment Time</th>
						<th scope="col">Duration</th>
						<th scope="col">Time Waiting</th>
						<th scope="col">Status</th>
					</tr>
				</thead>
	            <tbody>
					{% for a in appointment %}
						<tr>
							<td>{{ a.first_name }} {{ a.last_name }}</td>
							<td>{{ a.appt_time }}</td>
							<td>{{ a.duration }}</td>
							<td><div class="ElapsedTime" id="{{ a.time_id }}"></div></td>
							<td>
							<select class="mySelect" id="{{ a.select_id }}" onchange="selectFunction(this)">
								{% if a.status == "" %}
									<option value="" selected></option>
								{% else %}
									<option value=""></option>
								{% endif %}
								{% if a.status == "Arrived" %}
									<option value="Arrived" selected>Arrived</option>
								{% else %}
									<option value="Arrived">Arrived</option>
								{% endif %}
								{% if a.status == "Checked In<" %}
									<option value="Checked_In" selected>>Checked In</option>
								{% else %}
									<option value="Checked_In">Checked In</option>
								{% endif %}
								{% if a.status == "In Room" %}
									<option value="In_Room" selected>In Room</option>
								{% else %}
									<option value="In_Room">In Room</option>
								{% endif %}
								{% if a.status == "Cancelled" %}
									<option value="Cancelled" selected>Cancelled</option>
								{% else %}
									<option value="Cancelled">Cancelled</option>
								{% endif %}
								{% if a.status == "Complete" %}
									<option value="Complete" selected>Complete</option>
								{% else %}
									<option value="Complete">Complete</option>
								{% endif %}
								{% if a.status == "Confirmed" %}
									<option value="Confirmed" selected>Confirmed</option>
								{% else %}
									<option value="Confirmed">Confirmed</option>
								{% endif %}
								{% if a.status == "In Session" %}
									<option value="In_Session" selected>In Session</option>
								{% else %}
									<option value="In_Session">In Session</option>
								{% endif %}
								{% if a.status == "No Show" %}
									<option value="No_Show" selected>No Show</option>
								{% else %}
									<option value="No_Show">No Show</option>
								{% endif %}
								{% if a.status == "Not Confirmed" %}
									<option value="Not_Confirmed" selected>Not Confirmed</option>
								{% else %}
									<option value="Not_Confirmed">Not Confirmed</option>
								{% endif %}
								{% if a.status == "Not Rescheduled" %}
									<option value="Rescheduled" selected>Not Rescheduled</option>
								{% else %}
									<option value="Rescheduled">Not Rescheduled</option>
								{% endif %}
							</select>
							</td>
						</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
	<div class="card">
		<div class="card-header"><h2>Analytics</h2></div>
		<table class="table" id="appointments">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Total Time Waiting</th>
						<th scope="col">Average Time Waiting</th>
					</tr>
				</thead>
	            <tbody>
					<tr>
						<td><div id="TotalTimeWaiting">0</div></td>
						<td><div id="AverageTimeWaiting">0</div></td>
					</tr>
				</tbody>
		</table>
	</div>
</div>
<canvas id="myCanvas" style="background: white;"></canvas>

{% block script %}
<script>
    var token = '{{csrf_token}}';

	function status_update(status, id) {
		$.ajax({
			type: "POST",
			headers: { "X-CSRFToken": token },
        	url: "{% url 'dashboard' %}",
        	dataType: "json",
        	contentType: "application/json;",
        	data: JSON.stringify({'id': id, 'status': status}),
        	success: function() {
        		$.ajax({
					type: "POST",
					headers: { "X-CSRFToken": token },
        			url: "{% url 'dashboard' %}",
					dataType: "json",
					contentType: "application/json;",
        			data: JSON.stringify({'id': id, 'status': status})
    			});
    			get_appointments();
        	}
    	});
	}

	function get_appointments() {
        $.ajax({
            type: "GET",
            headers: { "X-CSRFToken": token },
            url: "{% url 'dashboard' %}"
        });
    }
</script>
{% endblock script %}
{{% endblock body %}
