{% extends 'base.html' %}
{% block title %}Welcome to DrChrono{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}
<div><img src="https://app.queuedr.com/assets/drchrono-10d30870dec6d08f5e2d129c374789ec478529f3e1e7017c5f5ca120d6a37587.png" /></div>
<h1 style="text-align: center;">Welcome Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h1>
<br>
<!--<div style="text-align: center;"><h3>Select</h3></div>-->

<div class='row'>
    <div class="col-2">

    </div>
    <div class="col-4">
        <a href="{% url 'dashboard' %}" class="btn btn-success btn-block btn-xl">
            Appiontments Dashboard
        </a>
    </div>

    <div class="col-4">
        <a href="{% url 'patients' %}" class="btn btn-success btn-block btn-xl">
            Patient Dashboard
        </a>
    </div>
    <div class="col-2">

    </div>
</div>
{% endblock %}
