{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Log In</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'login_user'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_username">
                                Username:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_username" maxlength="30" name="username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_password">
                                Password:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_password" maxlength="30" name="password" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% for a in appointment %}
<tr>
   <td>{{ a.first_name }}</td>
   <td>{{ a.last_name }}</td>
   <td>{{ a.dob }}</td>
   <td>{{ a.address }}</td>
   <td>{{ a.city }}</td>
   <td>{{ a.state }}</td>
   <td>{{ a.zip_code }}</td>
</tr>
{% endfor %}




var x = document.getElementById("mySelect").value;
document.getElementById("demo").innerHTML = "You selected: " + x;
function myClock() {
    var d = new Date();
    var x = document.getElementsByClassName("ElapsedTime");
    var y = document.getElementsByClassName("mySelect")
    //document.getElementById("foo").getElementsByClassName("bar")[0].innerHTML = "Goodbye world!";
    
    //console.log("Hey");
    for (i in x) {
        time_id = x[i].id;
        console.log(time_id);
        //var y = document.getElementsByClassName("mySelect");
        
        for (j in y) {
            if (time_id == j.id) {
                console.log("I'm Here")
                break;
            }
        }
        //.getElementById(time_id)[0];
        //console.log(y.id);

        //if (y.value == 'Confirmed') {
        //	x[i].innerHTML = d.toLocaleTimeString();
        //}



    //	if (time_id == 'time_83729277'){
    //		x[i].innerHTML = d.toLocaleTimeString();
    //	}
            //x[i].innerHTML = d.toLocaleTimeString();
    }
}

{'status': u'Arrived', u'last_name': u'Genning', 'patient': 83729265, 'checked_in': False, 'exam_room': 2, 'appt_time': u'2019-10-05T09:00:00', 'reason': u'', 'duration': 60, u'first_name': u'Chris', 'doctor': 250674, u'select_id': u'select_83729265', u'time_id': '83729265'}
{'status': u'In Room', u'last_name': u'James', 'patient': 83744674, 'checked_in': False, 'exam_room': 2, 'appt_time': u'2019-10-05T09:00:00', 'reason': u'', 'duration': 30, u'first_name': u'Evan', 'doctor': 250674, u'select_id': u'select_83744674', u'time_id': '83744674'}
{'status': '', u'last_name': u'Harris', 'patient': 83744680, 'checked_in': False, 'exam_room': 2, 'appt_time': u'2019-10-05T09:45:00', 'reason': u'', 'duration': 45, u'first_name': u'Jenny', 'doctor': 250674, u'select_id': u'select_83744680', u'time_id': '83744680'}
{'status': u'In Session', u'last_name': u'Morales', 'patient': 83729266, 'checked_in': False, 'exam_room': 1, 'appt_time': u'2019-10-05T10:15:00', 'reason': u'', 'duration': 30, u'first_name': u'Cesar', 'doctor': 250674, u'select_id': u'select_83729266', u'time_id': '83729266'}
{'status': '', u'last_name': u'Smith', 'patient': 83744670, 'checked_in': False, 'exam_room': 1, 'appt_time': u'2019-10-05T10:45:00', 'reason': u'New Patient / Initial Visit', 'duration': 75, u'first_name': u'Amy', 'doctor': 250674, u'select_id': u'select_83744670', u'time_id': '83744670'}
{'status': '', u'last_name': u'Jones', 'patient': 83729277, 'checked_in': False, 'exam_room': 1, 'appt_time': u'2019-10-05T11:00:00', 'reason': u'back pain', 'duration': 30, u'first_name': u'Amanda', 'doctor': 250674, u'select_id': u'select_83729277', u'time_id': '83729277'}
{'status': '', u'last_name': u'Harris', 'patient': 83729271, 'checked_in': False, 'exam_room': 1, 'appt_time': u'2019-10-05T11:45:00', 'reason': u'New Patient / Initial Visit', 'duration': 75, u'first_name': u'Jenny', 'doctor': 250674, u'select_id': u'select_83729271', u'time_id': '83729271'}
{'status': '', u'last_name': u'James', 'patient': 83729264, 'checked_in': False, 'exam_room': 4, 'appt_time': u'2019-10-05T13:15:00', 'reason': u'', 'duration': 30, u'first_name': u'Evan', 'doctor': 250674, u'select_id': u'select_83729264', u'time_id': '83729264'}
{'status': '', u'last_name': u'Harris', 'patient': 83744677, 'checked_in': False, 'exam_room': 2, 'appt_time': u'2019-10-05T13:45:00', 'reason': u'', 'duration': 30, u'first_name': u'Michelle', 'doctor': 250674, u'select_id': u'select_83744677', u'time_id': '83744677'}
{'status': '', u'last_name': u'Kivatinos', 'patient': 83744684, 'checked_in': False, 'exam_room': 2, 'appt_time': u'2019-10-05T14:30:00', 'reason': u'unspecified pain or illness', 'duration': 35, u'first_name': u'Daniel', 'doctor': 250674, u'select_id': u'select_83744684', u'time_id': '83744684'}
{'status': '', u'last_name': u'Bright', 'patient': 83729272, 'checked_in': False, 'exam_room': 1, 'appt_time': u'2019-10-05T14:45:00', 'reason': u'', 'duration': 45, u'first_name': u'Chrissy', 'doctor': 250674, u'select_id': u'select_83729272', u'time_id': '83729272'}
{'status': '', u'last_name': u'Harris', 'patient': 83729267, 'checked_in': False, 'exam_room': 1, 'appt_time': u'2019-10-05T15:45:00', 'reason': u'Surgery, make sure patient as not eaten.', 'duration': 200, u'first_name': u'Michelle', 'doctor': 250674, u'select_id': u'select_83729267', u'time_id': '83729267'}
{'status': u'In Session', u'last_name': u'Genmark', 'patient': 83744673, 'checked_in': False, 'exam_room': 4, 'appt_time': u'2019-10-05T16:20:00', 'reason': u'', 'duration': 30, u'first_name': u'Eva', 'doctor': 250674, u'select_id': u'select_83744673', u'time_id': '83744673'}

moment("01/02/2019 12:20").format()
      
"2019-01-02T12:20:00-05:00"
moment("01/02/2019 12:20").diff(moment("01/02/2019 12:10"),"seconds")
                                
      
600
moment("01/02/2019 12:20").diff(moment("01/02/2019 12:10"),"seconds").format("hh:mm:ss")
                                
      
TypeError: moment(...).diff(...).format is not a function
debugger eval code:1:71
moment(moment("01/02/2019 12:20").diff(moment("01/02/2019 12:10"),"seconds")).format("hh:mm:ss")
                                
      
"07:00:00"
My My 83744681 
<select id="select_83744681" class="mySelect" onchange="status_update(83744681, this)">
 Cancelled dashboard:1749:11
? 
Object { status: "true" }
dashboard:1758:13
Object [ select#select_83744681.mySelect
 ]
dashboard:1772:14






<div class="input-group date" data-provide="datepicker">
        <input type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <p id="demo"></p>

