# Get your tokens from the drchrono.com website under Account->API

SOCIAL_AUTH_CLIENT_ID=dC9H1XKjBu0JNIjFD2LAHbuwU1TFGxp8pbsUp7yB
SOCIAL_AUTH_SECRET=m0AgqqeCYXdBLuwaH6KDBZZZrM8JlQsI1WWTvTGKLherpa11DIQPJqQNTrAkQkfeiodc4AeU3UBjz7TR6ipmJ75nDQ23suXLj7UssigW5pHGEJ3L6CJCtnvazvJcc0ae
